/*SCSS Files*/
@use 'variables';
@use 'mixins';

/*Responsive Mobile Main Styles*/
.main{

    .main__article{

        .main__article__text-content{

            .main__article__text-content__title{
                font-family: variables.$din-round;
                color: variables.$title-color;
                font-size: 24px;
                font-weight: bold;
                text-align: center;
            }

            .main__article__text-content__text{
                font-family: variables.$din-round;
                color: variables.$text-color;
                text-align: center;
            }
        }
    }

    .main__article--one{
        margin-top: 70px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main__article--one__img{
            width: 185px;
            height: 145px;
            margin-bottom: 20px;
        }

        .main__article--one__title{
            text-align: center;
        }
    }

    .main__article--two{
        margin-top: 50px;
        margin-bottom: 50px;

        .main__article--two__text-content{

            .main__article--two__text-content__img-container{
                display: flex;
                justify-content: center;
            }

            .main__article--two__text-content__information-container{

                .main__article--two__text-content__information-container__little-container{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    .main__article--two__text-content__information-container__little-container__img{
                        width: 43px;
                        height: 43px;
                        margin-right: 20px;
                        position: relative;
                        top: 5px;
                    }

                    .main__article--two__text-content__information-container__little-container__text-container{
                        width: 300px;
                        
                        .main__article--two__text-content__information-container__little-container__text-container__title{
                            font-family: variables.$din-round;
                            color: variables.$title-color;
                            font-size: 19px;
                        }

                        .main__article--two__text-content__information-container__little-container__text-container__text{
                            font-family: variables.$din-round;
                            color: variables.$text-color;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

/*Responsive Dektop Main Styles*/
@media only screen and (min-width: 1200px){
    .main{

        .main__article{

            .main__article__text-content{

                .main__article__text-content__text{
                    text-align: initial;
                }

            }
        }

        .main__article--one{
            flex-direction: row;
            justify-content: center;

            .main__article--one__text-content{

                .main__article__text-content__text{
                    margin-left: 140px;
                }
            }
        }

        .main__article--two{
            display: flex;
            flex-direction: column;

            .main__article--two__title{
                font-family: variables.$din-round;
                color: variables.$title-color;
                text-align: center;
                font-size: 24px;
                order: 1;
            }
            
            .main__article--two__text-content{
                display: flex;
                justify-content: center;
                order: 2;

                .main__article--two__text-content__desktop__flex-container{
                    display: flex;

                    .main__article--two__text-content__desktop__flex-container__first-block{
                        display: flex;
                        order: 1;
                        flex-direction: column;

                        .main__article--two__text-content__desktop__flex-container__first-block__information-container{
                            display: flex;
                            align-items: flex-start;

                            .main__article--two__text-content__desktop__flex-container__first-block__information-container__img{
                                width: 43px;
                                height: 43px;
                                position: relative;
                                top: 7.5px;
                            }

                            .main__article--two__text-content__desktop__flex-container__first-block__information-container__text-container{
                                order: 2;
                                width: 300px;

                                .main__article--two__text-content__desktop__flex-container__first-block__information-container__text-container__title{
                                    font-family: variables.$din-round;
                                    color: variables.$title-color;
                                    font-size: 19px;
                                }

                                .main__article--two__text-content__desktop__flex-container__first-block__information-container__text-container__text{
                                    font-family: variables.$din-round;
                                    color: variables.$text-color;
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .main__article--two__text-content__desktop__flex-container__img{
                        order: 2;
                    }

                    .main__article--two__text-content__desktop__flex-container__second-block{
                        display: flex;
                        order: 3;
                        flex-direction: column;

                        .main__article--two__text-content__desktop__flex-container__second-block__information-container{
                            display: flex;
                            justify-content: flex-start;

                            .main__article--two__text-content__desktop__flex-container__second-block__information-container__img{
                                width: 43px;
                                height: 43px;
                                position: relative;
                                top: 7.5px;
                            }

                            .main__article--two__text-content__desktop__flex-container__second-block__information-container__text-container{
                                width: 300px;

                                .main__article--two__text-content__desktop__flex-container__second-block__information-container__text-container__title{
                                    font-size: 19px;
                                    font-family: variables.$din-round;
                                    color: variables.$title-color;
                                }

                                .main__article--two__text-content__desktop__flex-container__second-block__information-container__text-container__text{
                                    color: variables.$text-color;
                                    font-family: variables.$din-round;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}