/*SCSS Files*/
@use 'variables';

/*Mixins*/
/*Header Mixins*/
@mixin btns($bg-color, $border: false, $hover-bg-color, $shadow-bg-color) {
    color: variables.$white;
    font-weight: bold;
    font-family: variables.$din-round;
    background-color: $bg-color;
    width: 275px;
    height: 50px;
    border-radius: 20px;
    transition: all .5s;
    box-shadow: 0px 5px 0px 0px $shadow-bg-color;
    outline: none;
    @if $border{
        border: $bg-color;
    }
    &:hover{
        background-color: $hover-bg-color;
        cursor: pointer;
    }
    &:active{
        box-shadow: none;
    }
}

/*Main Mixins*/
@mixin articleStructureContainerDsktp(){
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}