/*SCSS Files*/
@use 'fonts';

/*Variables*/
/*Color Variables*/
/*General Color Variables*/
$white: #fff;

/*Header Color Variables*/
$header-bg-color: #235390;
$start-btn: #58cc02;
$start-btn-hover: #58ef00;
$before-start-btn: #58a700;
$login-btn-hover: #235381;
$before-login-btn: #252850;
$language-container: #0a4a82;

/*Main Color Variables*/
$title-color: #3c3c3c;
$text-color: #777777;
$hr-color: #999999;

/*Font Variables*/
$din-round: 'Din Round', sans-serif;