/*SCSS Files*/
@use 'reset';
@use 'variables';
@use 'mixins';
@use 'header';
@use 'main';

/*General Styles*/
body{
    overflow-x: hidden;
    height: 300vh;
}

.br-remove{
    display: block;
}

.br-new{
    display: none;
}

hr{
    width: 100%;
    border: 1px solid variables.$hr-color;
}

/*Desktop Styles*/
@media only screen and (min-width: 1200px){
    .br-remove{
        display: none;
    }

    .br-new{
        display: block;
    }

    hr{
        width: 80%;
    }
}